In [150]:
#imports
import pandas as pd

In [151]:
#load files in excel
occupation = pd.read_excel("data/Occupation Data.xlsx")
abilities = pd.read_excel("data/Abilities.xlsx")
emerging = pd.read_excel("data/Emerging Tasks.xlsx")
interests = pd.read_excel("data/Interests.xlsx")
skills = pd.read_excel("data/Skills.xlsx")
education = pd.read_excel("data/Education, Training, and Experience.xlsx")

In [152]:
#convert to csv
occupation.to_csv("Occpation_Data.csv", index=False)
abilities.to_csv("Abilities.csv", index=False)
emerging.to_csv("Emerging_Tasks.csv", index=False)
interests.to_csv("Interests.csv", index=False)
skills.to_csv("Skills.csv", index=False)
education.to_csv("Education.csv",index=False)

In [154]:
#data preview
occupation.head(5)

,O*NET-SOC Code,Title,Description
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...
1,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh..."
2,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ..."
3,11-1031.00,Legislators,"Develop, introduce, or enact laws and statutes..."
4,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici..."

In [153]:
skills.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Not Relevant,Date,Domain Source
0,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,IM,Importance,4.12,8,0.1250,3.8800,4.3700,N,NaN,08/2023,Analyst
1,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,LV,Level,4.62,8,0.1830,4.2664,4.9836,N,N,08/2023,Analyst
2,11-1011.00,Chief Executives,2.A.1.b,Active Listening,IM,Importance,4.00,8,0.0000,4.0000,4.0000,N,NaN,08/2023,Analyst
3,11-1011.00,Chief Executives,2.A.1.b,Active Listening,LV,Level,4.75,8,0.1637,4.4292,5.0708,N,N,08/2023,Analyst
4,11-1011.00,Chief Executives,2.A.1.c,Writing,IM,Importance,4.12,8,0.1250,3.8800,4.3700,N,NaN,08/2023,Analyst

In [155]:
abilities.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Not Relevant,Date,Domain Source
0,11-1011.00,Chief Executives,1.A.1.a.1,Oral Comprehension,IM,Importance,4.62,8,0.1830,4.2664,4.9836,N,NaN,08/2023,Analyst
1,11-1011.00,Chief Executives,1.A.1.a.1,Oral Comprehension,LV,Level,4.88,8,0.1250,4.6300,5.1200,N,N,08/2023,Analyst
2,11-1011.00,Chief Executives,1.A.1.a.2,Written Comprehension,IM,Importance,4.25,8,0.1637,3.9292,4.5708,N,NaN,08/2023,Analyst
3,11-1011.00,Chief Executives,1.A.1.a.2,Written Comprehension,LV,Level,4.88,8,0.1250,4.6300,5.1200,N,N,08/2023,Analyst
4,11-1011.00,Chief Executives,1.A.1.a.3,Oral Expression,IM,Importance,4.50,8,0.1890,4.1296,4.8704,N,NaN,08/2023,Analyst

In [156]:
emerging.head()

,O*NET-SOC Code,Title,Task,Category,Original Task ID,Original Task,Date,Domain Source
0,11-3013.00,Facilities Managers,"Plan, create, and manage budgets for contracts...",Revision,21280.0,"Plan, administer, and control budgets for cont...",08/2024,Incumbent
1,11-3013.00,Facilities Managers,Review and approve payroll for employees.,New,NaN,NaN,08/2024,Incumbent
2,11-3051.02,Geothermal Production Managers,Conduct employee safety training.,New,NaN,NaN,07/2011,Incumbent
3,11-3051.06,Hydroelectric Production Managers,Train employees in power plant operations.,New,NaN,NaN,07/2016,Incumbent
4,11-3071.00,"Transportation, Storage, and Distribution Mana...",Direct the use of drones and autonomous vehicl...,New,NaN,NaN,05/2025,AI/SME

In [157]:
interests.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,Date,Domain Source
0,11-1011.00,Chief Executives,1.B.1.a,Realistic,OI,Occupational Interests,1.30,11/2023,Machine Learning
1,11-1011.00,Chief Executives,1.B.1.b,Investigative,OI,Occupational Interests,3.24,11/2023,Machine Learning
2,11-1011.00,Chief Executives,1.B.1.c,Artistic,OI,Occupational Interests,2.08,11/2023,Machine Learning
3,11-1011.00,Chief Executives,1.B.1.d,Social,OI,Occupational Interests,3.52,11/2023,Machine Learning
4,11-1011.00,Chief Executives,1.B.1.e,Enterprising,OI,Occupational Interests,6.88,11/2023,Machine Learning

In [158]:
education.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Category,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Date,Domain Source
0,11-1011.00,Chief Executives,2.D.1,Required Level of Education,RL,Required Level Of Education (Categories 1-12),1.0,0.00,28,0.0000,NaN,NaN,N,08/2023,Incumbent
1,11-1011.00,Chief Executives,2.D.1,Required Level of Education,RL,Required Level Of Education (Categories 1-12),2.0,4.46,28,4.1428,0.6307,25.5524,N,08/2023,Incumbent
2,11-1011.00,Chief Executives,2.D.1,Required Level of Education,RL,Required Level Of Education (Categories 1-12),3.0,0.00,28,0.0000,NaN,NaN,N,08/2023,Incumbent
3,11-1011.00,Chief Executives,2.D.1,Required Level of Education,RL,Required Level Of Education (Categories 1-12),4.0,0.00,28,0.0000,NaN,NaN,N,08/2023,Incumbent
4,11-1011.00,Chief Executives,2.D.1,Required Level of Education,RL,Required Level Of Education (Categories 1-12),5.0,5.15,28,5.2236,0.6000,32.7756,N,08/2023,Incumbent

this section we are merging some columns into one and selection only the necessary columns to be used while merging to the main occupation dataset

In [159]:
#merging data value and element for interest
interests = interests.rename(columns={'Element Name': 'RIASEC','Data Value': 'RIASEC_Score'})
interests['RIASEC_Value'] = interests['RIASEC'] + " (" + interests['RIASEC_Score'].astype(str) + ")"
career_interests= interests.groupby('O*NET-SOC Code')['RIASEC_Value'].apply(lambda x: sorted(set(x))).reset_index()
career_interests.columns = ['O*NET-SOC Code', 'RIASEC']

#merging element and data value for abilities
abilities['Ability_Value'] = abilities['Element Name'] + " (" + abilities['Data Value'].astype(str) + ")"
career_abilities = abilities.groupby('O*NET-SOC Code')['Ability_Value'].apply(lambda x: sorted(set(x))).reset_index()
career_abilities.columns = ['O*NET-SOC Code', 'Abilities']

#skills grouping
skills['Skill_Value'] = skills['Element Name'] + " (" + skills['Data Value'].astype(str) + ")"
career_skills = skills.groupby('O*NET-SOC Code')['Skill_Value'].apply(lambda x: sorted(set(x))).reset_index()
career_skills.columns = ['O*NET-SOC Code', 'Skills']

#emerging task grouping
emerging_task = emerging[['O*NET-SOC Code', 'Category']].dropna()
emerging_task = emerging_task.rename(columns={'Category': 'Education_Level'})
emerging_careers = emerging_task.groupby('O*NET-SOC Code')['Education_Level'].apply(lambda x: sorted(set(x))).reset_index()
emerging_careers.columns = ['O*NET-SOC Code', 'Emerging_Tasks']

These section we want to create new columns on the education datasets. Element column has differnt row sections which can be converted to columns and assigned categories after mapping them out

In [160]:
#filtering only relevant levels
Career_Levels = education[education['Element Name'].isin([
    'Required Level of Education',
    'On-the-Job Training',
    'Related Work Experience',
    'On-Site or In-Plant Training',
    'Job-related Apprenticeship'
])]

In [161]:
education_level_category = {
    1: "Less than High School",
    2: "High School Diploma or equivalent",
    3: "Post-Secondary Certificate",
    4: "Some College Courses",
    5: "Associate's Degree",
    6: "Bachelor's Degree",
    7: "Post-Baccalaureate Certificate",
    8: "Master's Degree",
    9: "Post-Master's Certificate",
    10: "First Professional Degree",
    11: "Doctoral Degree",
    12: "Post-Doctoral Training"
}

ojt_category = {
    1: "None or short demonstration",
    2: "Up to 1 month",
    3: "Over 1 to 3 months",
    4: "Over 3 to 6 months",
    5: "Over 6 months to 1 year",
    6: "Over 1 to 2 years",
    7: "Over 2 to 4 years",
    8: "Over 4 to 10 years",
    9: "Over 10 years"
}

work_experience_category = {
    1: "None",
    2: "Up to 1 month",
    3: "Over 1 to 3 months",
    4: "Over 3 to 6 months",
    5: "Over 6 months to 1 year",
    6: "Over 1 to 2 years",
    7: "Over 2 to 4 years",
    8: "Over 4 to 6 years",
    9: "Over 6 to 8 years",
    10: "Over 8 to 10 years",
    11: "Over 10 years"
}

onsite_category = {
    1: "None",
    2: "Up to 1 month",
    3: "Over 1 to 3 months",
    4: "Over 3 to 6 months",
    5: "Over 6 months to 1 year",
    6: "Over 1 to 2 years",
    7: "Over 2 to 4 years",
    8: "Over 4 to 10 years",
    9: "Over 10 years"
}

apprenticeship_importance_category = {
    1: "Less Important",
    2: "Somewhat Important",
    3: "Moderately Important",
    4: "Very Important",
    5: "Most Important"
}

This section we are going to choose the maximum level and value reguired per career

In [162]:
#pivot_table() cats
career_level_category = Career_Levels.pivot_table(
    index='O*NET-SOC Code',
    columns='Element Name',
    values='Category',
    aggfunc='max'
).reset_index()

career_level_category.columns.name = None
#pivot_table() values
career_level_value = Career_Levels.pivot_table(
    index='O*NET-SOC Code',
    columns='Element Name',
    values='Data Value',
    aggfunc='max'
).reset_index()


career_level_value.columns.name = None

In [140]:
#renaming our columns
career_level_value = career_level_value.rename(columns={
    'Required Level of Education': 'Education_Level_Value',
    'On-the-Job Training': 'OJT_Value',
    'Related Work Experience': 'Work_Exp_Value',
    'On-Site or In-Plant Training': 'InPlant_Value',
    'Job-related Apprenticeship': 'Internship_Value'
})

career_level_category = career_level_category.rename(columns={
    'Required Level of Education': 'Education_Level',
    'On-the-Job Training': 'OJT',
    'Related Work Experience': 'Work_Experience',
    'On-Site or In-Plant Training': 'InPlant_Training',
    'Job-related Apprenticeship': 'Internship'
})

In [163]:
print(career_level_value.columns.tolist())

['O*NET-SOC Code', 'Job-related Apprenticeship', 'On-Site or In-Plant Training', 'On-the-Job Training', 'Related Work Experience', 'Required Level of Education']

In [165]:
#created new matrix for internship
career_level_value['Internship'] = career_level_value['Internship_Value'].map(apprenticeship_importance_category)

#merging career level category and career level value
career_level_merged = pd.merge(career_level_category, career_level_value, on='O*NET-SOC Code', how='left')

#map decsriptions

career_level_merged['Education_Level'] = career_level_merged['Education_Level'].map(education_level_category)
career_level_merged['OJT'] = career_level_merged['OJT'].map(ojt_category)
career_level_merged['Work_Experience'] = career_level_merged['Work_Experience'].map(work_experience_category)
career_level_merged['InPlant_Training'] = career_level_merged['InPlant_Training'].map(onsite_category)
career_level_merged['Internship'] = career_level_merged['Internship'].map(apprenticeship_importance_category)

KeyError: 'Internship_Value'

In [166]:
Education_final = career_level_merged[[
    'O*NET-SOC Code',
    'Education_Level', 'Education_Level_Value',
    'OJT', 'OJT_Value',
    'Work_Experience', 'Work_Exp_Value',
    'InPlant_Training', 'InPlant_Value',
    'Internship', 'Internship_Value'
]]

# Step 9: Preview
print(Education_final.head(10))

  O*NET-SOC Code         Education_Level  Education_Level_Value  \
0     11-1011.00  Post-Doctoral Training                  45.91
1     11-1011.03  Post-Doctoral Training                  74.07
2     11-1021.00  Post-Doctoral Training                  28.76
3     11-2011.00  Post-Doctoral Training                  60.02
4     11-2021.00  Post-Doctoral Training                  55.76
5     11-2022.00  Post-Doctoral Training                  65.22
6     11-3012.00  Post-Doctoral Training                  33.56
7     11-3013.00  Post-Doctoral Training                  57.34
8     11-3021.00  Post-Doctoral Training                  47.68
9     11-3031.00  Post-Doctoral Training                  56.31

             OJT  OJT_Value Work_Experience  Work_Exp_Value InPlant_Training  \
0  Over 10 years      35.25   Over 10 years           68.24    Over 10 years
1  Over 10 years      25.93   Over 10 years           40.74    Over 10 years
2  Over 10 years      26.08   Over 10 years           24.23    Over 10 years
3  Over 10 years      38.54   Over 10 years           26.52    Over 10 years
4  Over 10 years      52.82   Over 10 years           33.99    Over 10 years
5  Over 10 years      30.43   Over 10 years           34.78    Over 10 years
6  Over 10 years      48.28   Over 10 years           31.24    Over 10 years
7  Over 10 years      24.48   Over 10 years           49.01    Over 10 years
8  Over 10 years      32.63   Over 10 years           40.02    Over 10 years
9  Over 10 years      39.56   Over 10 years           41.91    Over 10 years

   InPlant_Value Internship  Internship_Value
0          34.32        NaN              2.20
1          40.74        NaN              1.81
2          25.62        NaN              2.33
3          25.12        NaN              2.11
4          33.95        NaN               NaN
5          26.09        NaN               NaN
6          34.62        NaN               NaN
7          26.16        NaN              2.36
8          31.64        NaN               NaN
9          34.21        NaN              1.45

This section we are going to merge the different datasets into one. we are creating a copy called careers_df

In [179]:
#creating copy
careers_df = occupations.copy()

# merging copy of occupations to interest
careers_df = pd.merge(careers_df, career_interests, on='O*NET-SOC Code', how='left')

#merging career_df+abilities
careers_df = pd.merge(careers_df, career_abilities, on='O*NET-SOC Code', how='left')

#merging career_df+abilities+skills
careers_df = pd.merge(careers_df, career_skills, on='O*NET-SOC Code', how='left')
#merging career_df+abilities+skills+education
careers_df = pd.merge(careers_df, Education_final, on='O*NET-SOC Code', how='left')

careers_df.head(10)

,O*NET-SOC Code,Title,Description,RIASEC,Abilities,Skills,Education_Level,Education_Level_Value,OJT,OJT_Value,Work_Experience,Work_Exp_Value,InPlant_Training,InPlant_Value,Internship,Internship_Value
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,"[Artistic (2.08), Conventional (5.0), Enterpri...","[Arm-Hand Steadiness (0.5), Arm-Hand Steadines...","[Active Learning (3.75), Active Learning (4.5)...",Post-Doctoral Training,45.91,Over 10 years,35.25,Over 10 years,68.24,Over 10 years,34.32,NaN,2.20
1,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh...","[Artistic (2.48), Conventional (4.49), Enterpr...","[Arm-Hand Steadiness (0.0), Arm-Hand Steadines...","[Active Learning (3.75), Active Learning (3.88...",Post-Doctoral Training,74.07,Over 10 years,25.93,Over 10 years,40.74,Over 10 years,40.74,NaN,1.81
2,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ...","[Artistic (1.31), Conventional (5.32), Enterpr...","[Arm-Hand Steadiness (0.88), Arm-Hand Steadine...","[Active Learning (3.62), Active Learning (3.75...",Post-Doctoral Training,28.76,Over 10 years,26.08,Over 10 years,24.23,Over 10 years,25.62,NaN,2.33
3,11-1031.00,Legislators,"Develop, introduce, or enact laws and statutes...","[Artistic (2.7), Conventional (3.62), Enterpri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...","[Artistic (3.85), Conventional (4.3), Enterpri...","[Arm-Hand Steadiness (0.5), Arm-Hand Steadines...","[Active Learning (3.25), Active Learning (4.12...",Post-Doctoral Training,60.02,Over 10 years,38.54,Over 10 years,26.52,Over 10 years,25.12,NaN,2.11
5,11-2021.00,Marketing Managers,"Plan, direct, or coordinate marketing policies...","[Artistic (2.45), Conventional (4.7), Enterpri...","[Arm-Hand Steadiness (0.12), Arm-Hand Steadine...","[Active Learning (3.88), Active Learning (4.12...",Post-Doctoral Training,55.76,Over 10 years,52.82,Over 10 years,33.99,Over 10 years,33.95,NaN,NaN
6,11-2022.00,Sales Managers,"Plan, direct, or coordinate the actual distrib...","[Artistic (1.31), Conventional (5.58), Enterpr...","[Arm-Hand Steadiness (0.5), Arm-Hand Steadines...","[Active Learning (3.75), Active Learning (3.88...",Post-Doctoral Training,65.22,Over 10 years,30.43,Over 10 years,34.78,Over 10 years,26.09,NaN,NaN
7,11-2032.00,Public Relations Managers,"Plan, direct, or coordinate activities designe...","[Artistic (3.68), Conventional (4.39), Enterpr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11-2033.00,Fundraising Managers,"Plan, direct, or coordinate activities to soli...","[Artistic (2.67), Conventional (4.72), Enterpr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11-3012.00,Administrative Services Managers,"Plan, direct, or coordinate one or more admini...","[Artistic (1.01), Conventional (6.43), Enterpr...","[Arm-Hand Steadiness (2.0), Arm-Hand Steadines...","[Active Learning (3.12), Active Learning (3.38...",Post-Doctoral Training,33.56,Over 10 years,48.28,Over 10 years,31.24,Over 10 years,34.62,NaN,NaN

In [ ]:
#joining occupation and emerging tasks
occupation_merge = pd.concat([careers_df, emerging_careers], ignore_index=True)

occupations_merge.tail()